<body>

<h1 class="d-flex justify-content-center">Créer un Gossip</h1><br>

<%= form_tag url_for(action: 'create'), method: "post" do %>

<%= label_tag 'Title' %>
<%= text_field_tag 'title', @gossips.title %>
<br /> <br />

<%= label_tag 'Content' %>
<%= text_area_tag 'content', @gossips.content %>
<br /> <br />

<%= submit_tag "Create Gossip" %>

<% if @gossips.errors.any? %>
<p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
<ul>
  <% @gossips.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<% end %>

</form>
</body>
</html>


<!-- >
